.overall-layout {
    padding: 2em;
    /* max-width: 950px; */
}

.listing-container {
    border-radius: .5em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);  
    max-height: max-content;
    max-width: max-content;
}

.listing-picture {
    width:450px;
    height:450px;    
    overflow:hidden;
    position:relative;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.listing-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    padding: 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: max-content;
    height: max-content;
}

.listing-details {
    padding: 2em;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    max-width: fit-content;
    margin-right: 100px;
}

.listing-information {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.listing-actions {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.listing-title {
    width: max-content;
    font-size: 30px;
}

.creator {
    font-size: 18px;
    font-style: italic;
}

.header-details {
    height: 100%;
}

.description {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 500px;
}

.winner {
    padding-top: 1em;
    padding-bottom: 2em;
}

.listing-stats-section {
    height: 120px;
}

.remove-button, .watchlist-button, .offer-button {
    margin-right: 25px;
}