{% extends 'auctions/layout.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'auctions/styles/listing_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock extra_head %}

{% block title %} {{ listing.title }}{% endblock title %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</div> 
            {% else %}
                <div class="{{ message.tags }} alert alert-primary" role="alert">{{ message }}</div> 
            {% endif %} 
        {% endfor %}
    {% endif %}

    <div class="overall-layout">
        <div class="listing-container">
            <div class="row">
                <div class="listing-picture">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" class="listing-image" >
                    {% else %}
                        <img src= "{% static '/default.jpeg' %}" class="listing-image" >
                    {% endif %}
                </div>

                <div class="listing-details">
                    <div class="listing-information">
                        <!-- Listing creator and title -->
                        <div class="header-details">
                            <div class="title listing-title"><strong>{{ listing.title }}</strong></div>
                            <div class="creator">{{ listing.creator }}</div>
                        </div>
                        
                        <!-- Listing description -->
                        {% if listing.description %}
                            <div class="description">{{ listing.description }}</div> 
                        {% else %}   
                            <div class="description">No description.</div> 
                        {% endif %}
                    
                        <!-- All other info -->
                        <div class="listing-stats-section">
                            <div class="category"><strong>Category:</strong> {{ listing.category }}</div>
                            <div class="current-price"><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</div>
                            <div class="minimum-bid"><strong>Minimum Bid:</strong> ${{ listing.minimum_bid }}</div>
                            {% if listing.last_bid == None %}
                                <div class="bid-counter"><strong>Latest Bid: </strong>None</div>
                            {% else %}
                                <div class="bid-counter"><strong>Latest Bid: </strong> ${{ listing.last_bid }}</div>
                            {% endif %}
                            <div class="bid-counter"><strong>Bid Counter: </strong> {{ listing.bid_counter }}</div>
                        </div>
                        
                        {% if listing.winner %}
                            <div class="winner"><strong>Winner: </strong>{{ listing.winner }}</div>
                        {% else %}
                            <div class="winner"><strong>Winner: </strong>No winner yet!</div>  
                        {% endif %}
                    </div>
                    
                    <div class="listing-actions">
                        {% if user.username == listing.creator.username %}
                            <a href={% url 'close' listing.id %} class="btn btn-success remove-button">Close</a>
                        {% else %}
                            <a href= {% url 'make_a_bid' listing.id %} class="btn btn-primary view-button offer-button">Make an Offer</a>
                            {% if listing in watchlist_listings %}
                                <a href={% url 'remove_from_watchlist' listing.id %} class="btn btn-danger remove-button">Remove</a>
                            {% else %}
                                <a href={% url 'add_to_watchlist' listing.id %} class="btn btn-primary watchlist-button">Watchlist</a>
                            {% endif %} 
                        {% endif %}                           
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="comment-section">
            <h3 class="comments-header">Comments</h3>
            <div class="add-comment-section">
                <form action= "{% url 'add_comment' listing.id %}" method = "POST" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control mb-2 mr-sm-2" name="comment" placeholder="Add a Comment">
                    </div> 
                    <button type="submit" class="btn btn-primary mb-2">Comment</button>
                </form>
            </div>

            <div class="comments">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment-card">
                            <!-- This will be the header section (ex. Ronak 1 day ago)-->
                            <div class="comment-stats">
                                <div class="user"><strong>{{ comment.user.username }}</strong></div>
                                {% if user.username == comment.user.username %}
                                <!-- TODO: Delete comment functionality -->
                                    <a href="{% url 'delete_comment' listing.title comment.id %}" class="delete-button">
                                        <span class="material-symbols-outlined" style="vertical-align: -6px;">
                                        delete
                                        </span>
                                    </a>
                                {% endif %}
                               
                            </div>
                            <div class="comment-timestamp text-muted">{{ comment.date_created }}</div>
                            <!-- The actual comment below -->
                            <div class="actual-comment">
                                {{ comment }}
                            </div>
                        </div>          
                    {% endfor %}                
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
