{% extends 'auctions/layout.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'auctions/styles/listing_styles.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block title %} {{ listing.title }}{% endblock title %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</div> 
            {% else %}
                <div class="{{ message.tags }} alert alert-primary" role="alert">{{ message }}</div> 
            {% endif %} 
        {% endfor %}
    {% endif %}

    <div class="overall-layout">
        <div class="listing-container">
            <div class="row">
                <div class="listing-picture">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" class="listing-image" >
                    {% else %}
                        <img src= "{% static '/default.jpeg' %}" class="listing-image" >
                    {% endif %}
                </div>

                <div class="listing-details">
                    <div class="listing-information">
                        <!-- Listing creator and title -->
                        <div class="header-details">
                            <div class="title listing-title"><strong>{{ listing.title }}</strong></div>
                            <div class="creator">{{ listing.creator }}</div>
                        </div>
                        
                        <!-- Listing description -->
                        {% if listing.description %}
                            <div class="description">{{ listing.description }}</div> 
                        {% else %}   
                            <div class="description">No description.</div> 
                        {% endif %}
                    
                        <!-- All other info -->
                        <div class="listing-stats-section">
                            <div class="category"><strong>Category:</strong> {{ listing.category }}</div>
                            <div class="current-price"><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</div>
                            <div class="minimum-bid"><strong>Minimum Bid:</strong> ${{ listing.minimum_bid }}</div>
                            {% if listing.last_bid == None %}
                                <div class="bid-counter"><strong>Latest Bid:</strong>None</div>
                            {% else %}
                                <div class="bid-counter"><strong>Latest Bid:</strong> ${{ listing.last_bid }}</div>
                            {% endif %}
                            <div class="bid-counter"><strong>Bid Counter:</strong> {{ listing.bid_counter }}</div>
                        </div>
                        
                        {% if listing.winner %}
                            <div class="winner"><strong>Winner: </strong>{{ listing.winner }}</div>
                        {% else %}
                            <div class="winner"><strong>Winner: </strong>No winner yet!</div>  
                        {% endif %}
                    </div>
                    
                    <div class="listing-actions">
                        {% if user.username == listing.creator.username %}
                            <a href={% url 'close' listing.id %} class="btn btn-success remove-button">Close</a>
                        {% else %}
                            <a href= {% url 'make_a_bid' listing.id %} class="btn btn-primary view-button offer-button">Make an Offer</a>
                            {% if listing in watchlist_listings %}
                                <a href={% url 'remove_from_watchlist' listing.id %} class="btn btn-danger remove-button">Remove</a>
                            {% else %}
                                <a href={% url 'add_to_watchlist' listing.id %} class="btn btn-primary watchlist-button">Watchlist</a>
                            {% endif %} 
                        {% endif %}                           
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
