{% extends 'auctions/layout.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'auctions/styles/listing_styles.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block title %} {{ listing.title }}{% endblock title %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <br>
            <div class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</div>  
        {% endfor %}
    {% endif %}


    <div class="overall-layout">
        <div class="listing-container">
            <div class="row">
                <div class="listing-picture">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" class="listing-image" >
                    {% else %}
                        <img src= "{% static '/default.jpeg' %}" class="listing-image" >
                    {% endif %}
                </div>

                <div class="listing-details">
                    <div class="listing-information">
                        <!-- Listing creator and title -->
                        <div class="header-details">
                            <div class="title listing-title"><strong>{{ listing.title }}</strong></div>
                            <div class="creator">{{ listing.creator }}</div>
                        </div>
                        
                        <!-- Listing description -->
                        <div class="description-section">
                            {% if listing.description %}
                                <div class="description">{{ listing.description }}</div> 
                            {% else %}   
                                <div class="description">No description.</div> 
                            {% endif %}
                        </div>
                    
                        <!-- All other info -->
                        <div class="listing-stats-section">
                            <div class="category"><strong>Category:</strong> {{ listing.category }}</div>
                            <div class="current-price"><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</div>
                            <div class="minimum-bid"><strong>Minimum Bid:</strong> ${{ listing.minimum_bid }}</div>
                            <div class="bid-counter"><strong>Bid Counter:</strong> {{ listing.bid_counter }}</div>
                        </div>
                        
                        {% if listing.winner %}
                            <div class="winner"><strong>Winner: </strong>{{ listing.winner }}</div>
                        {% else %}
                            <div class="winner"><strong>Winner: </strong>No winner yet!</div>  
                        {% endif %}
                    </div>
                    
                    <div class="listing-actions">
                        <!-- TODO: MAKE AN OFFER FUNCTIONALITY -->
                        <a href= {% url 'view' listing.title %} class="btn btn-primary view-button">Make an Offer</a>
                        <!-- TODO: Make watchlist-->
                        <a href="{% url 'add_to_watchlist' listing.id %}" class="btn btn-primary add-to-watchlist-button">Watchlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
