{% extends 'auctions/layout.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'auctions/styles/index_styles.css' %}" rel="stylesheet">
{% endblock extra_head %}


{% block body %}
    <div class="overall-layout">
        <h2>{{ user.username }}, here is your Watchlist:</h2>

        {% if messages %}
            {% for message in messages %}
            <br>
            <div class="{{ message.tags }} alert alert-primary" role="alert">{{ message }}</div>  
            {% endfor %}
        {% endif %}
    </div>
        
    <!-- Displaying the listings -->
    <div class="main_grid">
    {% if listings %}
        {% for listing in listings %}
            <div class="listing-card">
                <div class="listing-thumbnail">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" class="listing-image" >
                    {% else %}
                        <img src= "{% static '/default.jpeg' %}" class="listing-image" >
                    {% endif %}
                </div>
                <div class="bottom-section">
                    <div class="listing-information">
                        <h5 class="card-title listing-title">{{listing.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted current-price">${{listing.starting_bid}}</h6>
                    </div>
                    <div class="listing-actions">
                        <a href= {% url 'view' listing.title %} class="btn btn-primary view-button">View</a>
                        <a href={% url 'remove_from_watchlist' listing.id %} class="btn btn-danger add-to-watchlist-button">Remove</a>
                    </div> 
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <div>No listings.</div>
    {% endif %}
    </div>
{% endblock body %}